{%extends 'base.html'%}

{%block extra_head%}
    <link href="/static/libs/dropzone/css/dropzone.css" rel="stylesheet">
    <script src="/static/libs/dropzone/js/dropzone.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
{%endblock%}

{%block content%}
        <div id="panel">
            <div v-if='sessionExpired' class="row text-center alert alert-warning">
                <div class="col-12">
                    <span>Время сессии истекло, перейди на <a href="/login">страницу входа</a> и залогинься заново</span>
                </div>
            </div>
            <div class="row" v-if="!sessionExpired">
              <div class="col-md-12 col-lg-3 order-2 order-lg-1">
                <div v-if="files.length">
                    <ul class="list-group text-wrap overflow-auto">
                      <li class="list-group-item" v-for="f in files">
                          <div class="row">
                              <div class="col-sm-10">
                                  <div class="row">
                                      <div class="col-12 text-wrap text-start">${f.filename}</div>
                                  </div>
                                  <div class="row">
                                      <div class="col-5 text-wrap text-start" style="font-size: 0.8rem">${f.date}</div>
                                      <div v-if="f.download_url" class="col-7 text-wrap text-start" style="font-size: 0.8rem; color: green">Готов к скачиванию</div>
                                      <div v-if="!f.download_url"class="col-7 text-wrap text-start" style="font-size: 0.8rem; color: red">Обрабатывается</div>
                                  </div>
                              </div>
                              <div class="col-sm-2 p-0 m-0 text-center">
                                <button type="button" class="btn btn-link p-0 m-0"
                                @click="window.location.href=f.download_url" v-if="f.download_url">
                                    <img style="width: 17px; height: 17px" src="/static/img/download.png">
                                </button>
                                <button type="button" class="btn btn-link p-0 m-0" v-if="f.delete_url"
                                @click="deleteFile(f.delete_url)">
                                    <img style="width: 17px; height: 17px" src="/static/img/delete.png">
                                </button>
                                <img v-if="!f.download_url" style="width: 25px; height: 25px" src="/static/img/spinner.svg">
                              </div>
                          </div>
                      </li>
                    </ul>
                </div>
              </div>

              <div class="col-md-12 col-lg-9 order-1 order-lg-2">
                  <form action="/files" class="dropzone" id="dropzone"></form>
              </div>

            </div>
        </div>
{%endblock%}

{%block footer_js%}
    <script src="/static/js/panel.js"></script>
    <script src="/static/js/dropzone.conf.js"></script>
{%endblock%}